$primary-color: #1326D7;
$primary-dark-color: #101B84;

$dark-100: #1C152A;
$white-text-100: #FFFFFF;
$white-text-200: #E1E1E1;

$grey-300: #383840;
$grey-500: #4C4E5C;
$grey-600: #88898C;

$button-outlined-border-color: #E1E1EC;
$button-filled-disabled-background-color: #51515D;
$button-filled-disabled-text-color: #ADAEB1;
$button-outlined-disabled-color: #696977;

$metal-icon-gradient: linear-gradient(45deg, #E1E1E1, #FFFFFF);
$metal-icon-hover-gradient: linear-gradient(45deg, #949494, #CCCCCC);

$highlight-shadow-effect: 0px 0px 90px 90px rgb(5, 60, 142, 0.25);
$highlight-desktop-shadow-effect: 0px 0px 150px 150px rgb(5, 60, 142, 0.25);

$header-height: 100px;
$desktop-window-min-width: 769px;

$grid-container-width: 1040px;
$grid-container-padding: 15px;
$grid-container-width-with-paddings: $grid-container-width + 2 * $grid-container-padding;
$grid-container-gap: 40px;
$grid-container-mobile-gap: 30px;

// z-indexes
$decor-background-level: -1;
$basic-overlay-level: 1;
$widget-base-priority-level: 9;
$widget-extra-priority-level: 10;

// adaptive mixins 
@mixin desktopOnly {
  @media (width < $desktop-window-min-width) {
    display: none;
  }
}

@mixin mobileOnly {
  @media (width >= $desktop-window-min-width) {
    display: none;
  }
}
