.Columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  
  @media (width >= $desktop-window-min-width) {
    flex-direction: row;
  }
}

.Paragraph {
  @include text-desktop;
  color: var(--white-text-200);
  text-align: center;

  @media (width >= $desktop-window-min-width) {
    @include text-mobile;
  }
}
