@layer components {
  .Section {
    width: 100%;
    padding: $section-vertical-padding-mobile 0px;

    @media (width >= $desktop-window-min-width) {
      padding: $section-vertical-padding 0px;
    }
  }
}