.Chip {
  font-family: var(--font-family-roboto);
  color: var(--white-text-100);
  background-color: var(--grey-500);
  font-size: 16px;
  line-height: 1.5;
  padding: 4px 6px;
  width: fit-content;
  border-radius: 4px;
}