.Header {
  position: relative;
  z-index: $widget-extra-priority-level;
  height: $header-height;
  width: 100%;
}

.HeaderContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}