@layer components {
  .Anchor {
    color: var(--white-text-100);
    transition: 0.3s;
    text-decoration: none;
  
    @media (hover: hover) {
      &:hover {
        color: var(--grey-600);
      }
    }

    @media (hover: none) {
      &:active {
        color: var(--grey-600);
      }
    }
  }
}