:root {
  --primary-color: #{$primary-color};
  --primary-dark-color: #{$primary-dark-color};

  --dark-100: #{$dark-100};
  --white-text-100: #{$white-text-100};
  --white-text-200: #{$white-text-200};

  --grey-300: #{$grey-300};
  --grey-500: #{$grey-500};
  --grey-600: #{$grey-600};

  --button-outlined-border-color: #{$button-outlined-border-color};
  --button-filled-disabled-background-color: #{$button-filled-disabled-background-color};
  --button-filled-disabled-text-color: #{$button-filled-disabled-text-color};
  --button-outlined-disabled-color: #{$button-outlined-disabled-color};

  --metal-icon-gradient: #{$metal-icon-gradient};
  --metal-icon-hover-gradient: #{$metal-icon-hover-gradient};

  --highlight-shadow-effect: #{$highlight-shadow-effect};
  --highlight-desktop-shadow-effect: #{$highlight-desktop-shadow-effect};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  height: 1px;
  width: 100%;
  font-size: 14px;
  background-color: var(--dark-100);
}

.button-grid {
  display: flex;
  align-items: start;
  gap: 40px;
  flex-wrap: wrap;
}