.Contacts {
  display: flex;
  align-self: center;
  gap: 20px;

  .ContactLink {
    width: 30px;
    aspect-ratio: 1;
  }

  @media (min-width: $desktop-window-min-width) {
    gap: 30px;

    .ContactLink {
      width: 4px;
    }
  }
}