.HighlightDecor {
  position: absolute;
  z-index: $decor-background-level;
  box-shadow: var(--highlight-shadow-effect);

  @media (width >= $desktop-window-min-width) {
    box-shadow: var(--highlight-desktop-shadow-effect);
  }
}