.FooterNavigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.FooterNavigationLink {
  color: var(--white-text-100);
  transition: 0.3s;
  @include h4-mobile;
  text-decoration: none;

  &:hover {
    color: var(--grey-600);
  }

  @media (width >= $desktop-window-min-width) {
    @include h4-mobile;
  }
}