.Navigation {
  display: flex;
  align-items: center;
  gap: 40px;

  @include desktopOnly;
}

.Link {
  @include h4-mobile;
  color: var(--white-text-100);
  text-decoration: none;
  transition: 0.3s;

  @media (width >= $desktop-window-min-width) {
    @include h4-desktop;
  }

  &:hover {
    color: var(--grey-600);
  }
}